main {
  margin-bottom: 150px;
  width: 100%;
}

.header {
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; border-radius: 0px;
  top: 0;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  margin-left: 20px;
}

.phone {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #fff;
  text-decoration-color: #fff;
  margin-right: 20px;
}

.currency-field {
  position: relative;
}

.currency-field-input {
  text-indent: 1.5em;
}

.currency-sign {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events:none;
  margin-left: 1em;
}

input {
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
}

select {
  font-family: 'Open Sans', sans-serif;
}

Button {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(68, 68, 68) !important;
  border: rgb(68, 68, 68) !important;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 2em;
}

Table {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 5em;
  font-family: 'Rubik', sans-serif;
}

.spinner {
  display: flex;
  justify-content: center;
}

footer {
  color: rgb(20, 63, 61);
  width: 100%;
  text-align: center;
  font-size: 13px;
  bottom: 0;
  position: absolute;
  margin-bottom: .5em;
}

footer a {
  color: rgb(20, 63, 61);
}

footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

footer .link {
  margin: auto 1em;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
