@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap');

html {
  position: relative;
  min-height: 85vh;
  margin-top: 100px;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(247, 247, 243)
}
